<ion-view view-title="{{vm.garden.name}}">
  <ion-content has-bouncing="false">
    <ion-item class="item-thumbnail-left">
      <img ng-if="vm.garden.photo" ng-src="{{vm.garden.photo}}" alt="garden photo"></img>
      <img ng-if="!vm.garden.photo" src="http://dummyimage.com/80x80/ffffff/000000.jpg&text=no+photo" alt="garden photo"></img>
      <h2>{{vm.garden.name}}</h2>
      <p><a ui-sref="app.map({garden: vm.garden})">{{vm.garden.address}}</a></p>
      <p>{{vm.garden.phone}}</p>
    </ion-item>
  </ion-content>
  <ion-content style="margin-top:97px">
    <ion-list>
      <ion-item class="item item-divider">
        Our products
      </ion-item>
      <ion-item ng-repeat="product in vm.products" class="item-avatar" ng-click="vm.showDetails(product)">
        <img ng-if="product.photo" ng-src="{{product.photo}}" alt="product photo"></img>
        <img ng-if="!product.photo" src="http://dummyimage.com/40x40/ffffff/000000.jpg&text=no+photo" alt="product photo"></img>
        <div class="product-quantity" ng-if="product.qty">
          <p>Qty.: {{product.qty}}</p>
        </div>
        <h2>{{product.description}}</h2>
        <p>In stock: {{product.stock}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-full no-margin button-balanced" ng-click="vm.buy()">Buy now!</button>
  </div>
</ion-view>
