<ion-view view-title="My Garden">
  <ion-content has-bouncing="false" ng-hide="vm.loading">
    <ion-item class="item-thumbnail-left item-icon-right" ng-click="vm.edit(vm.garden)">
      <img src="{{vm.garden.photo}}" alt="photo" ng-show="vm.garden.photo"></img>
      <h2>{{vm.garden.name}}</h2>
      <p>{{vm.garden.address}}</p>
      <p>{{vm.garden.phone}}</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-content>


  <ion-content style="margin-top:97px" ng-hide="vm.loading">
    <ion-list>
      <ion-item class="item-divider ">
        <button style="float:right;line-height:15px;min-height:20px" class="button button-dark button-small" ui-sref="app.product">
          Add product
        </button> My Products
      </ion-item>
      <ion-item ng-repeat="product in vm.products" class="item-avatar item-button-right" ng-click="vm.editProduct(product)">
        <img src="{{product.photo}}" alt="photo"></img>
        <h2>{{product.description}}</h2>
        <p>In stock: {{product.stock}}</p>
        <p>{{product.price | currency}}</p>
        <button style="height:100%;top:25%" class="button button-assertive button-clear" ng-click="vm.remove(product, $event)"><i class="icon ion-minus-circled "></i></button>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-content ng-show="vm.loading">
    <div style="text-align:center" >
      <ion-spinner></ion-spinner><br />Updating you garden
    </div>
  </ion-content>
</ion-view>