<ion-view view-title="My Garden">
  <ion-content has-bouncing="false">
    <ion-item class="item-thumbnail-left">
      <img src="img/ionic.png" alt="photo"></img>
      <h2>{{vm.garden.name}}</h2>
      <p>{{vm.garden.address}}</p>
      <p>{{vm.garden.phone}}</p>
    </ion-item>
  </ion-content>


  <ion-content style="margin-top:97px">
    <ion-list>
      <ion-item class="item-divider item-button-right">
        <button class="button button-dark">
          <i class="addProduct icon ion-plus"></i>
        </button> My Products
      </ion-item>
      <ion-item ng-repeat="product in vm.products" class="item-avatar" ng-click="vm.showDetails(product)">
        <img src="img/ionic.png" alt="photo"></img>
        <h2>{{product.name}}</h2>
        <p>In stock: {{product.stock}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>