<ion-view view-title="Add product">
  <ion-content>
    <ion-list>
      <ion-item style="text-align:center">
        <img src="{{vm.product.photo}}" alt="photo" ng-if="vm.product.photo" style="max-width: 100%;max-height: 240px;" />
        <button class="no-margin button button-dark button-full button-small" ng-click="vm.takePicture()">
          <i class="icon ion-camera"></i> {{vm.product.picture? 'Change': 'Take a'}} picture
        </button>
      </ion-item>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Product name</span>
        <input type="text" placeholder="Product name" ng-model="vm.product.description">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Price</span>
        <input type="number" placeholder="Price" ng-model="vm.product.price">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Quantity</span>
        <input type="number" placeholder="Quantity" ng-model="vm.product.stock">
      </label>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-full no-margin button-balanced" ng-click="vm.save()">Save</button>
  </div>
</ion-view>