<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Confirmation</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="vm.goBack()" style="text-align:center" class="padding">
      <h2>Thanks for your purchase!</h2>
      <p>Order #: {{lastOrder.id}}</p>

      <p ng-if="shipToMe">
        The selected products will be delivered to your address
        <span ng-if="lastOrder.garden.deliveryDays">in {{lastOrder.garden.deliveryDays}} days</span>
        <span ng-if="!lastOrder.garden.deliveryDays">as soon as possible</span>.
      </p>

      <p ng-if="!shipToMe">
        Your products will be avaialble for pickup
        <span ng-if="lastOrder.garden.deliveryDays">in {{lastOrder.garden.deliveryDays}} days</span>
        <span ng-if="!lastOrder.garden.deliveryDays">as soon as possible</span>.
      </p>

      <p ng-show="false">You will receive an e-mail with details of your purchase</p>
    </form>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-full no-margin button-balanced" ng-click="vm.goBack()">OK</button>
  </div>
</ion-modal-view>
